.card {
  cursor: pointer;
  background-image: url("../../img/card-img-background-obj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
  position: relative;
  padding: 21px 48px;
  width: 320px;
  height: 509px;
  border: 4px solid #2ea8e6;
  border-radius: 15px;
}

.card-disabled {
  border: 4px solid #666666;
}

.card-selected {
  border: 4px solid #d91667;
}

.card-disabled::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.646);
  border-radius: 15px;
}

.card-description-default,
.card-cta {
  font-weight: 400;
}

.card-description-default {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  margin-bottom: 5px;
}

.card-description-selected-leave {
  color: #d91667;
}

.card-title,
.card-subtitle,
.card-additional {
  font-weight: 700;
}

.card-title,
.card-subtitle {
  color: #000000;
}

.card-title {
  font-size: 48px;
  line-height: 56px;
}

.card-subtitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

.card-additional {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card-cta {
  margin-top: 14px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.card-button {
  cursor: pointer;
  position: relative;
  border: none;
  color: #22a7e9;
  background: transparent;
}

.card-button::after {
  position: absolute;
  left: 0;
  top: 17px;
  content: "";
  border: 1px #2ea8e6 dashed;
  width: 28px;
}

.weight-info {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 42px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1698d9;
}

.weight-amount {
  line-height: 42px;
}

.weight-unit {
  font-size: 26px;
  line-height: 22px;
}

.weight-info.selected {
  background-color: #d91667;
}

.weight-info.disabled {
  background-color: #b3b3b3;
}

@supports (clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px)) {
  .card {
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
  }

  .card::before {
    content: "";
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    transform-origin: bottom left;
    top: 30px;
    left: 0;
    width: 53px;
    height: 7px;
    background: #1698d9;
  }

  .card-disabled::before {
    background: #666666;
  }

  .card.card-disabled {
    border: 4px solid #666666;
    cursor: not-allowed;
  }

  .card-selected::before {
    background: #d91667;
  }

  .card.card-selected {
    border: 4px solid #d91667;
  }
}
